:root {
    --var-chat-bubbles-background: linear-gradient(90deg, rgb(24 44 43) 0%, rgb(11 35 40) 50%, rgb(5 30 38) 100%);
    --var-chat-mentioned: rgb(59 89 74);
}

/* Chat bubbles */
.theme-dark.visual-refresh .message__5126c.cozyMessage__5126c {
    position: relative;
    background: transparent;
    border-bottom: none;
    overflow: visible;
    padding-right: 0;
}

.message__5126c.cozyMessage__5126c .contents_c19a55,
.recentMentionsPopout__95796 .cozy_c19a55 .contents_c19a55,
.messagesPopoutWrap__45690 .cozy_c19a55 .contents_c19a55,
.sidebarContainer__656be .cozy_c19a55 .contents_c19a55,
.embedCard__44c9a .cozy_c19a55.wrapper_c19a55 {
    margin: 0;
    padding: 5px 10px 3px 10px;
    border-radius: 5px;
    background: var(--var-chat-bubbles-background);
}

.message__5126c.cozyMessage__5126c .container_b7e1cb {
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 0 0 5px 5px;
    background: var(--var-chat-bubbles-background);
}

.message__5126c.systemMessage__5126c.groupStart__5126c {
    border-radius: 5px;
}

.message__5126c.mentioned__5126c .contents_c19a55,
.message__5126c.mentioned__5126c .container_b7e1cb {
    background: var(--var-chat-mentioned);
}

.repliedMessage_c19a55 {
    height: 26px;
}

.repliedMessage_c19a55:before,
.repliedMessageClickableSpine_c19a55 {
    border-color: var(--var-hover30);
}

/* Popup view */
.message__89466 .wrapper_c19a55 {
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    padding-bottom: 3px;
    background-color: var(--var-hover25);
    border-bottom: none;
    overflow: visible;
}

.message__89466 .wrapper_c19a55 .avatar_c19a55 {
    left: -50px;
    top: -2px;
}

/* Threads */
.container__01ae2 .message__5126c {
    filter: brightness(1.3);
}

/* MOD view */
.sidebarContainer__656be .innerContainer__39de8 li>div {
    background: transparent;
    box-shadow: none;
}

.sidebarContainer__656be .button__02a39 {
    position: relative;
    top: 3px;
    right: 12px;
    margin-left: 0;
}

/* Misc / Code / Embeds */
.hljs {
    background: rgba(181, 181, 181, 0.2);
}

.markup__75297 code,
.textContainer__4d95d,
.footer__4d95d,
.modalTextContainer__4d95d {
    background-color: var(--var-black1);
    border: 1px solid var(--var-black1);
}

.embedFull__623de {
    background: var(--var-black2);
    border-left: 4px solid var(--var-black2);
}

.fileWrapper__0ccae {
    border-color: var(--var-black1);
    background-color: var(--var-black1);
}

.spoilerMarkdownContent__54ab5 {
    background-color: var(--var-black2);
}

/* Buttons / Reactions */
.button_f7ecac {
    color: #FFF;
    background-color: transparent;
}

.button_f7ecac:hover,
.visual-refresh .wrapper_f7ecac {
    background-color: var(--var-popout-color);
    border-radius: 0 5px 5px 5px;
    background-clip: content-box;
}

.reaction__23977 {
    background: var(--var-popout-color);
}

.reaction__23977:hover {
    background-color: var(--var-hover20);
}

.reaction__23977.reactionMe__23977 {
    background-color: var(--var-accent);
    border-color: var(--var-accent);
}
